/* MAIN STYLES */
main {
  position: relative;
  margin-top: 45rem;
  width: 100vw;
  height: 200vh;
}

@import "./global";
@import "./header";
@import "./home";
@import "./projects";
@import "./music";
@import "./footer";
@import "./animation";
